/* body{background: red;} */
/* 초기화 코드 */
html{overflow-y: scroll;}
*{margin: 0;padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none;}
body{font-family: '맑은 고딕', '돋움',Arial,sans-serif;}
img{border: 0;}
.fl{float: left;}
.cb{clear:both;}
.cf:after{content: ''; display: block; clear: both;}

/* QnA 게시판 */
section{width: 100%; height: 100%; /* background: #dddddd; */overflow: auto;}
#wrap{width: 1420px; margin:0 auto;}
		#boardTitle{width: 373px; height: 183px; margin: 0 auto;/* background: #333333; */text-align: center; margin-top: 60px; margin-bottom: 60px;}
		#boardTitle p{margin-bottom: 10px; color: #666666;}
		#boardTitle h2{margin-bottom: 20px; font-size: 27px;letter-spacing: 10px;}
		#boardTitle .dashLine{margin-bottom: 30px;}
		#boardTitle .boardInfo{font-size: 15px; letter-spacing: 2px;}
		
	#searchBox{width: 555px; height: 57px; margin: 0 auto; border: 2px solid #999999; border-radius: 30px; }
		#searchBox input[type="text"]{width: 350px; height: 47px;border:none;}
		#searchBox input[type="image"]{vertical-align: middle;padding: 0 7px 5px 10px;}
		#searchBox select{width: 100px; height: 47px;background: #ffffff;border:none;margin:5px 0 7px 20px;text-align: center;}
		
#boardTab{width: 1420px; height: 130px; background: #efefef; margin-bottom: 60px; margin-top: 60px;}
	#boardTab .tabInfo{margin: 50px 0 45px 45px;vertical-align: center;font-size: 17px;}
	#boardTab img{margin:52px 35px 0  20px;}
	#boardTab .tabCells{margin-top: 15px;}
	#boardTab .tabCells ul{overflow: hidden;}
	#boardTab li{padding: 15px 23px;float: left;cursor: pointer;}
	#boardTab li:hover{background-color: #bbbbbb;border-radius: 50px;}
	#boardTab li:hover a{color: #dddddd;font-weight: bold;}
	#boardTab li a{color: #333333;font-weight: bold;}
	#boardTab li.active{background-color: #004ea2;color: #ffffff;font-weight: bold;border-radius: 50px;}
	#boardTab li.active a{color: #ffffff;font-weight: bold;}
 	
	#qnaContent>div:hover{background: #ffffee;}
	#qnaContent>div{box-sizing: border-box;}
	#qnaContent .first{border-top: 3px solid #464637;border-radius: 3px; }
	#qnaContent>div input{display: none;}
	#qnaContent>div>div{width: 200px; line-height: 88px; height: 88px;text-align: center;float: left; border-bottom: 2px dotted #dddddd;}
	#qnaContent>div:hover>div{background: #efefef;}
	
	#qnaContent>div .cat{width: 226px;}
	#qnaContent>div .plus{padding-top:30px;height: 58px;}
	#qnaContent .title{width: 994px;text-align: justify;}
	#qnaContent .innerWrap{height: auto; width: 96%;text-align: left; padding: 2%; display: none;}

	#qnaContent input:checked~div.innerWrap{display: block;}
	#qnaContent input:checkde~div.title>label{cursor: default;}
	#qnaContent input:checkde~div.plus>label{cursor: default;}
	#qnaContent label{cursor: pointer;line-height: 88px; height: 58px;display: block;}

	.answerTit{text-align: justify; font-weight: bold; font-size: 16px; background: #dfdfdf; padding: 10px 20px;margin-left: 200px;line-height: 26px; border-bottom: 1px dotted #dddddd;}
	.answerCon{text-align:justify; padding: 10px 20px; background: #ffffff; line-height: 24px; margin-left: 200px;}
	
	
	
#pageNum{width: 875px; height: 52px; margin: 0 auto;}
	#pageNum li{float: left;margin-left:7px; border: 2px solid #777777; text-align: center; box-sizing: border-box;}
	#pageNum li:hover{background: #dddddd;}
	#pageNum li.pageImg1{margin-left:0px;}
	#pageNum li a{float: left;height: 35px;width: 52px;padding-top: 15px;text-align: center;color: #777777; }
	#pageNum li.active{background-color: #0091db }
	#pageNum li.active a{color: #ffffff;}
	
#pageNum{margin: 45px auto 70px;}
	#quickMenu{width: 1420px; height: 70px; margin: 0 auto 50px; }
	#quickMenu a{display: block;width: 343px; height: 70px;background:#ffffff;padding:25px 0 0 20px;margin: 0 auto;margin-right: 15px;border-radius: 5px;border:1px solid #aaaaaa;border-right: 15px solid #aaaaaa;box-sizing: border-box;font-weight: bold;}
	#quickMenu a:hover{background:#2897ee;border-right: 1px solid #aaaaaa;border-left: 15px solid #aaaaaa;color: #ffffff;padding-left: 20px;}
	#quickMenu a.last{margin-right: 0px;}		
	
	












