/* body{background: red;} */

/* 초기화 코드 */
html{overflow-y: scroll;}
*{margin: 0; padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none;}
body{font-family: 'Malgun Gothic', '맑은 고딕',Dotum, '돋움', Arial, sans-serif,}
ul, ol, dl, li{list-style: none;}
img{border: 0; vertical-align: top;}
a{text-decoration: none; color: #333333;}
a:link{color: #333333;}
a:visited{color: #333333;}
.fl{float: left;}
.fr{float: right;}
.cb{clear: both;}
.cf:after{clear: both; content: ''; display: block;}

/* 몸통 */
section{width: 1903px; height: 1000px; background:url(../images/back.png) no-repeat center; background-size: cover; overflow: hidden;}

#loginWrap{width: 1200px; height: 700px; border: 2px solid #555555; background: #ffffff; margin: 150px auto 0; padding: 70px; box-sizing: border-box; text-align: center; box-shadow: 1px 1px 1px #333333;}
	#loginWrap h2{font-size: 40px; color: #555555; margin-bottom: 10px;}
	#loginWrap h2 span{font-weight: bold; color: #00a3ff; margin-bottom: 10px;}
	#loginWrap p{font-size: 14px; font-weight: bold; color: #456078; margin-bottom: 77px;}
	

#HeadLeft{width: 490px; margin-right: 10px;}
	#HeadLeft h4{width: 490px; padding: 15px 0; border: 1px solid #d7d7d7; text-align: center; font-size: 24px; color: #3f546b; background: #ffffff;}
	#HeadLeft #LeftButton{width: 490px; height: 240px;border: 1px solid #d7d7d7; text-align: center; border-top: none;  background: url(../images/bg_contbox.png) repeat; padding-top: 60px;}
		#LeftButton .Button1{background: #0e96dd; text-decoration: none; font-size: 14px; color: #ffffff; padding: 25px 25px; border-radius: 5px; margin-right: 20px; font-weight: blod;}
		#LeftButton .Button2{background: #0e96dd; text-decoration: none; font-size: 14px; color: #ffffff; padding: 25px 40px; border-radius: 5px; font-weight: bold;}
		#LeftButton p{padding-top: 70px; width: 350px; font-size: 14px;color: 333333; text-align: left; margin: 0 auto; line-height: 20px; margin-bottom: 40px;}
		#LeftButton .Button3{padding: 5px 10px; border: 1px solid #d7d7d7; font-weight: bold; text-decoration: none; font-size: 14px; color: #333333; border-radius: 5px; background: #ffffff;}	
		
#HeadRight{width: 490px; float: left;}
	#HeadRight h4{width: 490px; padding: 15px 0; border: 1px solid #d7d7d7; text-align: center; font-size: 24px; color: #3f546b; background: #ffffff;}
	#HeadRight #RightButton{width: 490px; height: 300px; border: 1px solid #d7d7d7; text-align: center; border-top: none;  background: #ffffff;}
		#Button4{float: left; margin-left: 94px; margin-right: 11px; margin-top: 84px;}
		#Button4 input{font-family: 'Nanum Gothic'; font-size: 14px; width: 170px; height: 35px; display: block; margin-bottom: 10px; border: 1px solid #d7d7d7; padding-left: 10px;}
		#Button5{float: left; background: #0e96dd; border-radius: 5px; width: 109px; height: 82px; cursor: pointer; margin-top: 84px;}
		#Button5 a{text-decoration: none;font-size: 15px; color: #ffffff; font-weight: 600; line-height: 84px; }
		#Button6{clear: both; margin-top: 150px;}
		#Button6 a{padding: 5px 10px; border: 1px solid #d7d7d7; font-weight: 600; text-decoration: none; font-size: 14px; color: #333333; border-radius: 5px; background: #ffffff;}	
	

	
	
	
	
	
	
	
	
	
	
	
	